[alias]
	d = diff --color
	st = status
	pushom = push origin master
	pushow = push origin wip
	pullom = pull origin master
	pt = push --tags
	lg = log --graph --pretty=format:'[%cn]%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	rc = rebase --continue
	cm = checkout master
	mm = merge master
	c- = checkout -
	c = checkout
	f = fetch
[user]
	name = Fabio Perrella
	email = fabio.perrella@locaweb.com.br
[github]
	user = saas-dev
[branch]
	autosetuprebase = always
[init]
	templatedir = ~/.git_template
[merge]
       ff = no
       commit = no
[pull]
       rebase = true
